body {
background-color: #C1F4C5;
margin:0;
text-align: center;
padding-bottom: 30px;
}
h1{
  font-size: 60px;
  margin: 33.2px auto 0px auto;
  color: #019267;
  line-height: 1;
}
h2{
  font-size: 2rem;
    color: #11999E;
    font-weight:bold;
}
h3{
  font-size: 1.5rem;
  color: #11999E;
}
hr{
  width: 5%;
  border-style: dotted none none;
  border-color: grey;
  height: 0;
  border-width: 10px;
  margin: 40px auto;
}
.top-cloud {
  width: 15%;

  position: relative;
  left: 300px;
}
.bottom-cloud
{
  width :15%;
  position: relative;
  right: 300px;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me{
  margin: 100px auto;
}
.C1{
  margin: 33px auto;

}
.C2{
  margin: 33px auto 50px;

}
.top-container {
background-color: #C1F4C5;
font-family: 'Merriweather', serif;


border-width : 10px;
padding: 30px 50px 0px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 1.5;
}
.coding{
  width: 25%;
  float: left;
  position: relative;
  right: 30px;

}
.cricket{
  width: 25%;
  float: right;
  position: relative;
  left: 30px;

}
.footer-link{
  margin: 30px;
  font-size: 1.5rem;
  line-height: 2;
  color: #11999e;
 text-decoration: none;
}

.bottom-container {
background-color: #11cdd4;
padding: 50px 0px 30px;
}


